.checkout-page {
  width: 75%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  margin-top: 3%;

    h1{
      background-color: #f5f5f54d;
      opacity: 0.7;
      padding: 2%;
      width: -webkit-fill-available;
    }

    .back_btn {
      width: 7vw;
      margin-left: 66vw;
      margin-top: -7%;
      margin-bottom: -2vw;
      cursor: pointer;
    }

    .more_btn {
      background-color: yellowgreen;
      width: 17vw;
      position: absolute;
      clear: both;
      font-size: 1.5vw;
      margin-left: 48%;
      margin-top: -1.2%;
      border-radius: 20%;
      animation-duration: 16s;
      animation-delay: 30s;
      animation-iteration-count: infinite;

    }

  .checkout-header {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid darkgrey;
    
    background-color: #f5f5f51f;
    opacity: 0.7;
    padding: 2%;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-size: 2vw;
    font-weight: bold;


    .header-block {
      text-transform: capitalize;
      width: 33%;

      &:last-child {
        width: 13%;
      }
    }
  }

  .total {
    margin-top: 3%;
    margin-left: auto;
    margin-bottom: 4%;
    font-size: 2vw;
    font-weight: bold;
    width: 25%;
    color: whitesmoke;
  }
  
  .note{
    color: tomato;
    font-size: 2vw;
    font-weight: bold;
  }

  .test-warning{
    color: tomato;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
  }
}
