.sign-up {
  display: flex;
  flex-direction: column;
  width: 380px;

  .buttons{
    display: flex;
    justify-content: space-between;
  }

  .custom-button {
    min-width: 185px !important;
  }
  
  .title {
    margin: 10px 0;
  }

  h1{
    background-color: #f5f5f54d;
    opacity: 0.7;
    padding: 2%;
}

h2 {
    margin-top: -2%;
    background-color: #f5f5f51f;
    opacity: 0.7;
    padding: 2%;
}

span {
    font: -webkit-control;
    margin-top: -5.2%;
    background-color: #f5f5f51f;
    opacity: 0.7;
    padding: 2%;
}

}
