.collection-page {
  display: flex;
  flex-direction: column;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    background-color: #f5f5f54d;
    opacity: 0.7;
    padding: 2%;
  }

  img {
    width: 6%;
    margin-left: 96%;
    margin-top: -4%;
    cursor: pointer;
  }

  .items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-left: 7%;

    & .collection-item {
      margin-bottom: 30px;
    }
  }
  
  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 979px) { 
    padding: 0px;
    padding-top: 8%;
  }

  /* Landscape phone to portrait tablet */
  @media (min-width: 501px) and (max-width: 767px) { 
    padding: 2%;
    padding-top: 13%;
    width: 94vw;
    margin-left: -9vw;
    margin-top: 0vw;
  }

  /* Landscape phones and down */
  @media (max-width: 500px) { 
    width: 85vw;
    margin-top: 0%;
    margin-left: -8%;
    padding-top: 9vw;
  }
}
