.collection-preview {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  // margin-top: 3.8%;

  .title {
    font-size: 28px;
    margin-bottom: 25px;
    background-color: #f5f5f54d;
    opacity: 0.7;
    padding: 2%;

    &:hover{
      font-size: 2vw;
      font-weight: 600;
      color: whitesmoke;
      background-color: #206161;
      cursor: pointer;
      box-shadow: 3px 3px 3px 2px #61c1c1;
    }

    .msg {
      font-size: small;
      float: right;
      margin-top: 2vw;
      clear: both;
  }

  }

  .preview {
    display: flex;
    justify-content: space-between;
  }
}